* {
    text-align: center;
}

body{
    background-color: #FCF0CC;
    color: #1B2432;
}
h1{
    margin-bottom: 2%;

}
h3 {
    margin-bottom: 0.5%;
}
form div {
    width: 100%;
    margin-bottom: 1%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="button"], button {
    color : #FCF0CC;
    width: 30%;
    height: 100%;
    background-color: #465362;
    margin: 2%
}


form div input{
    display: inline-block;
    width: fit-content;
    height: 3vh;

}
form div div:nth-child(3) h4{
   text-align: left;
   width: 100%;
}

.alert {
    border: 2px solid red;
}
.valid {
    border: 2px solid green;
}

form div div {
    display: flex;
    justify-content: center;
}

form div div div {
    flex-basis: 20%;
}

#form-container {
    margin-top: 10vh;
}

#signed a{
    color: black;
    text-decoration: underline;
}


@media only screen and (max-width: 850px) {
    input[type="button"], button {
        font-size: 1.5rem;
        min-width: 70%;
    }

    h1 {
        font-size: 3rem;
    }
    
    #form-container {
        font-size: 1.5rem;
    }

    input[type="text"], input[type="password"] {
        font-size: 1.5rem;
        max-width: 70%;
        padding-bottom: 5px;
    }

}


@media only screen and (max-width: 600px) {
    input[type="button"], button {
        font-size: 0.9rem;
        min-width: 70%;
        max-height: 80%;
        margin-top: 10px;
    }

    h1 {
        font-size: 2.5rem;
    }
    
    #form-container {
        font-size: 1.5rem;
    }

    input[type="text"], input[type="password"] {
        font-size: 1rem;
        max-width: 50%;
        padding-bottom: 2px;
    }

    h3 {
        font-size: 1rem;
    }

    #submit {
        width: 100%;
    }

    #signed {
        font-size: 1rem;
    }
}

