* {
    padding: 0;
    margin : 0;
    box-sizing: border-box;
    font-family:   'Kanit', sans-serif;;
    ;
}

h1 {
    text-align: center;
    margin-bottom: 2%;
    font-size: 8vh;
}

.board {
   position: relative;
   height: 75vh;
   width : 50vw;
   left: 50%;
   transform: translateX(-55%);
   background-color: #FCF0CC;
}
.cell img {
    width: 100%;
    height: 100%;
}
.outline.cell {
    border-color: white;
    font-size: xx-large;
    border-width: 0 ;
}

#gameEnded {
    position: absolute;
    top: 60%;
    right: 50%;
    z-index: 1;
    font-size: 2rem;
    color: white;
    display: none;
  }

.piece.clicked img {
    transform: translateY(-10px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  }
  
  .piece img{
    transition: transform 0.2s, box-shadow 0.2s;
  }
.row {
    display: flex;
    flex-wrap : wrap;

    flex-basis : 100%;
    height: 11.11%;
}
.cell {
    flex-basis: 11.11%;
    height: 100%;
    border : 1px solid black;
    text-align: center;
}

.row .cell.colored:nth-of-type(odd) {
    background-color: gray;
  }
 
  .row .cell.colored:nth-of-type(even) {
    background-color:  #AFC1D6;
    ;
  }
 
 .row:nth-of-type(odd)
   .cell.colored:nth-of-type(odd) {
     background-color: #AFC1D6;
   }
 
 .row:nth-of-type(odd)
   .cell.colored:nth-of-type(even) {
     background-color: gray;
   }

.board .row .cell.colored.available-move { 
    background-color: #FCF0CC;
}